[Desktop Entry]
Type=Application
Name=Koshi
Comment=Read and reply to kernel mailing lists
Exec=koshi
Icon=moe.nikableh.Koshi
Terminal=false
Categories=GNOME;GTK;Network;Email;
Keywords=mail;email;mailing-list;lore;lkml;archive;
StartupNotify=true
